<h3>Edit <%= @mixtape.name %></h3>

<% if current_user %>
   <%= render partial: 'form' %>
<% else %>
   <%# Nag for login %>
   <%= render partial: 'layouts/hey_dj' %> make edits. Sneaky, sneaky.</p>
<% end %>
