<h1>All Mixtapes</h1>

<%= render partial: 'mixtapes/display' %>

<%# Navigation %>
<div class="actions-bot">
   <% if current_user %>
      <%= link_to "Create a New Mixtape", new_mixtape_path, class: "new", id: "mixtape" %>
   <% else %>
      <%# Nag for login %>
      <%= render partial: 'layouts/hey_dj' %> to record your own Mixtapes!</p>
   <% end %>
</div>
