<h3>Create a Mixtape</h3>

<% if current_user %>
   <%= render partial: 'layouts/errors', :locals => { :noun => @mixtape } %>
   <%= render partial: 'form' %>
<% else %>
   <%# Nag for login %>
   <%= render partial: 'layouts/hey_dj' %> to add and edit your own Mixtapes SNEAKY!!</p>
<% end %>
