<div class="play">
   <div class="play-button"></div>
   <iframe class="play-vid" src="<%= "#{song.audio}?&amp;iv_load_policy=3&amp;rel=0&amp;controls=0&amp;showinfo=0" %>"  frameborder="0" allowfullscreen></iframe>
</div>
