<h3>Edit <%= @song.title %></h3>

<% if current_user %>
   <%= render partial: 'form' %>
<% else %>
   <%# Nag for login %>
   <%= render partial: 'layouts/hey_dj' %>wtf how do you even?</p>
<% end %>
