<%= render partial: 'layouts/errors', :locals => { :noun => @song } %>

<% if current_user %>
   <%= render partial: 'form' %>
<% else %>
   <%# Nag for login %>
   <%= render partial: 'layouts/hey_dj' %></p>
<% end %>
