/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Righteous|Bangers|Chewy|Audiowide|Fredericka+the+Great|Megrim|Monoton|Press+Start+2P|Codystar:400,300|Cinzel+Decorative:400,700,900|Finger+Paint|Keania+One|Caesar+Dressing|Monofett|Wallpoet|Iceberg|Offside|Overlock+SC|Faster+One|Sirin+Stencil|Geostar|Supermercado+One|Stalinist+One|Covered+By+Your+Grace|Permanent+Marker|Rock+Salt|Nothing+You+Could+Do|Waiting+for+the+Sunrise|Reenie+Beanie|Just+Me+Again+Down+Here|Caveat:400,700);

body {
   background-image: url(http://silviahartmann.com/background-tile-art/images/black_woven_seamless_tile.jpg);
}

.nav-top,
.nav-bot {
   min-height: 50px;
   margin: 0 auto;

   padding: 0 50px;

   box-shadow: inset 0 0 18px rgb(14, 0, 20);
}

.nav-top {
   min-width: 700px;
   max-width: 900px;
   position: fixed;
   left: 0;
   right: 0;
   /*-webkit-transform: translate3d(0, 0, 0);*/

   background-color: lavender;
   border-radius: 100px 10px 100px 10px;
   z-index: 5;

   line-height: 47px;
   text-align: left;
   font-family: 'Codystar';
}

a {
   text-decoration: none;
}

a+a {
   padding-left: 15px;
   margin-left: 15px;
   border-left: 2px dotted black;
}

.you-are-here {
   text-decoration: overline;
}

#logo {
   float: left;
   background-color: black;
   border: 6px solid lavender;
   border-radius: 5px 5px 30px 30px;
   width: 111px;
   color: lavender;
   position: relative;
   top: 51px;
   z-index: 2;
   padding: 14px;
}

@keyframes logodance {
   0%  {
         background-color: black;
         border-radius: 5px 5px 30px 30px;
         border-color: lavender;
         color: lavender;
       }
   25% {
         background-color: purple;
         border-radius: 30px 5px 5px 30px;
         border-color: beige;
         color: beige;
      }
   50% {
         background-color: cornflowerblue;
         border-radius: 30px 30px 5px 5px;
         border-color: bisque;
         color: bisque;
      }
   75% {
         background-color: green;
         border-radius: 5px 30px 30px 5px;
         border-color: indianred;
         color: indianred;
      }
   100% {
         background-color: yellow;
         border-radius: 5px 5px 30px 30px;
         border-color: purple;
         color: purple;
      }
}

#logo:hover{
   animation-name: logodance;
   animation-duration: 0.2s;
   animation-timing-function: linear;
   animation-iteration-count: 4;
   animation-direction: alternate;
}

#icon {
   font-size: 30px;
}
.whoosh {
   font-family: 'Faster One';
}

#tagline {
   font-size: 12px;
}

#app{
   width: 800px;
   margin: 0 auto;
   background-color: white;
   position: relative;
   top: 60px;
    border-radius: 14px;
    padding: 30px;
}

.create_user {
   margin: 0 auto;
   background-color: rgba(128, 0, 128, 0.4);
   color: white;
   padding: 30px;
   border-radius: 18px;
   box-shadow: inset 0 0 18px rgb(14, 0, 20);
   width: 600px;
}

label {
   line-height: 40px;
   font-family: Audiowide;
   font-family: Righteous;
   font-family: Codystar;
   font-family: overlock sc;
   font-size: 24px;
}

input {
   float: right;
   line-height: 30px;
   width: 179px;
}


h1.mixtape#name {
   background-image: url('http://idacanada.com/magazine/issue-3/images/analogdigital_03.png');
   background-repeat: no-repeat;
   height: 304px;
   width: 485px;
   line-height: 115px;
   font-family: Covered by your grace;
   font-family: Rock salt;
   font-family: Permanent marker;
   text-align: center;
}

.song-list {
   font-size: 15px;
   background-image: url('http://blog.undr.com/2011/01/2011_01_15_16_30_21.jpg');
   background-repeat: repeat-y;
    width: 744px;
   padding-top: 260px;
   padding-left: 20px;
   padding-right: 20px;
   min-height: 381px;
   font-family: 'Rock Salt';
    background-size: cover;
}

.song-list p {
  -webkit-transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  -o-transform: rotate(-0.5deg);
  transform: rotate(-0.5deg);
}

.song-history {
   float: right;
   position: relative;
}

.song-links {
   float: right;

}


.song {
}

#sidebar {
   float: right;
   margin-right: 50px;
   background-color: darkslateblue;
   color: white;
   padding: 35px;
}

ul#side-links {
   padding: 0;
}

.play {
   width: 41px;
   height: 22px;
   border: 2px solid green;
   overflow: hidden;
}

.play iframe {
   display:block;
   width:100%;
   height:300%;
}

.blink {
  animation: blinker 2s linear infinite;
  color: #223A3A;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}


.nav-bot {
   min-width: 500px;

   border-radius: 10px 100px 10px 100px;
   background-color: black;
   box-shadow: inset 0 0 18px lightgrey;

   text-align: center;
   color: beige;
}
