<%# display custom/funny errors %>
<% if noun && noun.length > 0 %>
   <div class="errors">
      <% noun.each do |obj,errors| %>
         <li class="error"><%= obj.capitalize %>:
            <% errors.each do |m| %>
               <p id="error-detail"><%= m %></p>
            <% end %>
         </li>
      <% end %>
   </div>
<% end %>
