<%# display default errors %>
<% if noun && noun.errors.messages.length > 0 %>
   <div class="errors">
      <% noun.errors.full_messages.each do |error_msg| %>
         <li class="error" id="error-detail"><%= error_msg %></li>
      <% end %>
   </div>
<% end %>
